*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Orbitron;
}

:root{
    --cor-fonte:#ECECEC;
    --bg-fundo: #373745;
    --bg-btns: #6D67E4;
}


html{
    height: 100vh;
    letter-spacing: 0.04cm;
}

body{
    background-color: var(--bg-fundo);
    color: var(--cor-fonte);
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.cabecalho{
    width: 100%;
    padding: 0 6%;
}

.wraper-flex{
    display: flex;
    height: 90px;
    justify-content: center;
    align-items: center;
}

.cabecalho .logo{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: start;
    gap: 15px;
}

.clock{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: relative;
    background: url('../src/bg-relogio.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.ponteiro{
    content: '';
    position: absolute;
    left: 35px; bottom: 35px;
    width: 1.5px; height: 25px;
    background-color: black;
    transform-origin: 0 100%;
    animation: tick 1s infinite paused;
}

@keyframes tick{
    to {transform: rotate(360deg);}
}

.cabecalho .menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.cabecalho .menu .item-menu {
    text-decoration: none;
    color: var(--cor-fonte);
    font-weight: 600;
}

.cabecalho .menu .item-menu:hover{
    border-bottom: 2px solid var(--bg-btns);
}

.menu-lateral{
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 90vh;
    position: absolute;
    left: -100vw;
    background-color: #585861;
    transition: 0.2s;
    padding: 20px 0 0 0;
    z-index: 1;
}

.menu-lateral .item-menu-lateral{
    display: flex;
    width: 100%;
    height: 120px;
    align-items: center;
    column-gap: 20px;
    border-bottom: 1px solid var(--bg-fundo);
}

.menu-lateral .link-menu-lateral{
    color: var(--cor-fonte);
    text-decoration: none;
}

.menu-lateral .icone-menu-lateral{
    width: 35px;
    height: 35px;
    margin: 20px;
    border-radius: 5px;
}

.cabecalho .btn-menulateral{
    display: none;
    background-color: var(--bg-fundo);
    font-size: 35px;
    border: none;
    color: var(--bg-btns);
}

.principal{
    margin-top: 100px;
}

.principal .titulo{
    margin: 40px;
}

.principal .campo-Horas, .campo-Minutos, .campo-Segundos{
    width: 20%; 
}

.principal select{
    width: 80px;
    height: 35px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.096);
    border: 1px solid var(--bg-btns);
    color: var(--cor-fonte);
    text-align: center;
}

.principal select option{
    background: #373745;
}

.principal .display{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px;
    height: 150px;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 100px;
    border: 1px solid var(--bg-btns);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.096);
}

.principal .display-despertador{
    flex-direction: column;
    height: 160px;
    justify-content: space-around;
}

.select-cronometro{
    display: none;
}

.texto-display{
    font-size: 15px;
}

.btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.btns .comecar, .pausar, .continuar, .resetar, .resetar-cronometro, .ativar-alarme, .parar-alarme{
    width: 100px;
    height: 40px;
    background-color: var(--bg-btns);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: var(--cor-fonte);
}

.btns-cronometro{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
}

.btns-cronometro .comecar, .continuar{
    justify-self: end;
}

.btn-menulateral{
    cursor: pointer;
}

.rodape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--cor-fonte);
    margin-top: 100px;
    gap: 10px;
}

.rodape-link .fa-github{
    margin: 10px;
    font-size: 40px;
    color: var(--cor-fonte);
}

.rodape-link .fa-github:hover{
    color: var(--bg-btns);
    scale: 1.2;
    transition: 0.2s;
}




@media screen and (max-width: 768px){

    .cabecalho .logo{
        width: 80%;
    }

    .cabecalho .wraper-flex{
        justify-content: space-between;
    }

    .cabecalho .menu{
        display: none;
    }

    .menu-lateral{
        width: 60%;
    }

    .cabecalho .btn-menulateral{
        display: block;
        align-self: center;
    }

    .principal{
        margin-top: 50px;
    }

    .principal .wraper-flex{
        justify-content: space-evenly;
    }

    .menu-ativo{
        left: 0;
        opacity: 0.99;
    }
}

@media screen and (max-width: 576px){

    html{
        height: auto;
    }

    body{
        font-size: 13px;
    }

    .container .principal .display{
        width: 310px;
    }

    .display-cronometro{
        font-size: 28px;
    }

    .container .principal .btns{
        gap: 20px;
    }

    .menu-lateral{
        width: 70%;
    }

    .principal .wraper-flex select{
        height: 35px;
    }

    .btns .comecar, .pausar, .continuar, .resetar, .resetar-cronometro, .ativar-alarme, .parar-alarme{
        width: 90px;
        height: 35px;
    }

    .principal .campo-Horas, .campo-Minutos, .campo-Segundos{
        width: 30%; 
    }

}




